.tasks-table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 300px;
  }
  
  .tasks-table thead tr {
    background-color: #009879;
    color: #000;
    text-align: left;
  }
  
  .tasks-table th,
  .tasks-table td {
    padding: 4px 4px;
    border: 1px solid #dddddd;
  }
  
  .tasks-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .tasks-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .tasks-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .tasks-table tbody tr:hover {
    background-color: #f1f1f1;
  }
  